In [1]:
import pandas as pd

In [32]:
df = pd.read_excel('/Users/ivanesipov/Desktop/Учеба/Econometrics/Project/Данные/Main_panel_1.xlsx')

In [33]:
df.head()

,Unnamed: 0,Name,year,name+year,progress,Happiness,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Gini%,socExp(%GE),GDPpercap,unemployment%,CPI
0,0,Australia,2006,Australia2006,0.083975,NaN,NaN,NaN,NaN,NaN,45.231,36117.487984,4.785240,3.555288
1,1,Australia,2007,Australia2007,0.073002,7.285391,0.965276,71.720001,0.890682,NaN,45.780,41001.142979,4.379151,2.327611
2,2,Australia,2008,Australia2008,0.075735,7.253757,0.946635,71.879997,0.915733,35.42851,46.101,49654.910596,4.234330,4.350298
3,3,Australia,2009,Australia2009,0.073277,NaN,NaN,NaN,NaN,NaN,43.963,42783.322565,5.560385,1.771117
4,4,Australia,2010,Australia2010,0.070084,7.450047,0.954520,72.199997,0.932059,34.65673,44.849,52087.972289,5.213340,2.918340

In [34]:
# df.iloc[189, 4] = 0
# df.drop(columns = ['Unnamed: 0'], inplace = True)

In [43]:
df.describe().to_excel('describe_general.xlsx')

In [44]:
df.groupby('Name').describe().to_excel('describe_country.xlsx')

In [45]:
df.groupby('year').describe().to_excel('describe_year.xlsx')

In [46]:
df.groupby('year').describe()

     progress                                                                  \
        count      mean       std           min       25%       50%       75%
year
2006     35.0  0.060295  0.027688  0.000000e+00  0.039881  0.058763  0.081069
2007     35.0  0.060814  0.026203  2.104315e-02  0.043715  0.059767  0.079936
2008     35.0  0.060148  0.026482  2.393199e-02  0.039420  0.053827  0.080985
2009     35.0  0.059970  0.026223  2.177816e-02  0.041626  0.053876  0.077819
2010     35.0  0.059531  0.027601  1.907164e-02  0.036890  0.053834  0.081373
2011     35.0  0.058708  0.028962  3.252607e-17  0.035514  0.054706  0.082260
2012     35.0  0.059333  0.029552  2.081668e-17  0.035821  0.056409  0.081791
2013     35.0  0.058614  0.030016  3.859760e-17  0.035926  0.056617  0.082208
2014     35.0  0.058878  0.029977  1.214306e-17  0.036841  0.057231  0.082607
2015     35.0  0.057678  0.030603  0.000000e+00  0.036904  0.057777  0.081437
2016     35.0  0.058638  0.029516  8.239937e-18  0.037286  0.058028  0.081743
2017     35.0  0.058849  0.029542  5.637851e-18  0.037323  0.058207  0.080117
2018     35.0  0.059581  0.029376  6.938894e-18  0.037526  0.057572  0.080436
2019     35.0  0.060421  0.028587  1.084202e-17  0.038362  0.057791  0.080440
2020     35.0  0.060338  0.028538  3.035766e-18  0.038032  0.057222  0.079632

               Happiness            ... unemployment%             CPI  \
           max     count      mean  ...           75%       max count
year                                ...
2006  0.121885      15.0  6.556481  ...      8.403837  13.96667  33.0
2007  0.122546      24.0  6.565799  ...      7.883333  11.23333  33.0
2008  0.122809      27.0  6.826740  ...      7.431250  11.27750  33.0
2009  0.122025      23.0  6.347119  ...     10.837500  17.86667  33.0
2010  0.122412      28.0  6.614932  ...     11.495835  19.87500  33.0
2011  0.122216      30.0  6.519684  ...     10.780835  21.40833  33.0
2012  0.128805      33.0  6.574410  ...     10.554585  24.79167  33.0
2013  0.128856      31.0  6.528904  ...     10.454165  27.49167  33.0
2014  0.129025      32.0  6.542941  ...     10.079166  26.55000  33.0
2015  0.129135      33.0  6.573465  ...      9.666666  24.95833  33.0
2016  0.129228      33.0  6.626867  ...      9.095417  23.56667  33.0
2017  0.135851      33.0  6.723013  ...      8.395833  21.53333  33.0
2018  0.142477      32.0  6.706314  ...      6.837500  19.30833  33.0
2019  0.142495      31.0  6.743584  ...      6.495833  17.33333  33.0
2020  0.142498       0.0       NaN  ...           NaN       NaN   0.0


          mean       std       min       25%       50%       75%        max
year
2006  2.831808  1.772383  0.300000  1.675125  2.457924  3.555288   9.597242
2007  2.940470  1.989495  0.000000  1.829738  2.453965  2.895001   8.756181
2008  4.727942  2.650864  1.400000  3.347834  4.065952  4.673897  12.694400
2009  1.531603  2.805457 -4.478103 -0.053146  1.019377  2.197386  12.003120
2010  2.253524  1.768223 -0.922096  1.319214  1.801170  2.716640   8.566444
2011  3.113634  1.274953 -0.300000  2.557189  3.303850  3.919286   6.471879
2012  2.613363  1.727308 -0.692552  1.696209  2.455548  3.089983   8.891570
2013  1.588219  1.464988 -0.921272  0.900000  1.408581  2.000158   7.493090
2014  1.054792  1.766574 -1.312242 -0.013203  0.507759  1.605806   8.854572
2015  0.462543  1.592702 -1.735902 -0.325220  0.292703  0.706332   7.670854
2016  0.826185  1.570219 -0.825658 -0.055000  0.491749  1.000000   7.775134
2017  2.080275  1.956059  0.244953  1.226533  1.794499  2.125971  11.144310
2018  2.320641  2.669545  0.488370  1.137488  1.850815  2.442583  16.332460
2019  2.021500  2.532661  0.252993  0.844129  1.619632  2.308333  15.176820
2020       NaN       NaN       NaN       NaN       NaN       NaN        NaN

[15 rows x 80 columns]